.namebut {
    color: cornflowerblue;
    background-color: black;
}
.namebut:hover {
    background-color: lightpink;
    color: darkgreen;
}
.colorbut {
    background-color: cornflowerblue;
    color: black;
}
@keyframes lastbutton {
    from {background-color: black;}
    to {background-color: darkred;}
}
.comments {
    background-color: black;
    color: cornflowerblue;
    animation-name: lastbutton;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.slide{
    width: 100px;
    height: 100px;
    position :relative; 
    animation: mymove 2s infinite;
}
@keyframes mymove {
    0% {top: 0px; left: 0px;}
    50% {top: 200px; left: 50px;}
    75% {top: 200px; left: 100px;}
    100% {top: 0px; left: 100px;}
}
